.cproject
.project
.settings/
*.d
*.o
*.pc
*.swp
aclocal.m4
autom4te.cache/
autoscan.log
build/
config.guess
config.h
config.h.in
config.h.in~
config.sub
config.log
config.status
configure
configure.scan
dist/
doc/
install-sh
libtool
ltmain.sh
m4/
Makefile
